# Ignore database files
*.db
*.sqlite
*.sqlite3

# Ignore environment variables file
.env

# Ignore other potential sensitive files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.DS_Store
.vscode/
.idea/
website/__pycache__/models.cpython-311.pyc
